{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #E0F2F1;
}

.container {
    text-align: center;
    background-color: #004D61;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
}

h1 {
    font-size: 24px;
    color: #BBDEFB;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-size: 14px;
    color: #E0F2F1;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #00796B;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    color: white;
    background-color: #00796B;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #004D61;
}

.resultado {
    margin-top: 20px;
    font-size: 18px;
    color: #E0F7F4;
}
